  body {
    color: #40514E;
      margin: 0;
      text-align: center;
      font-family: Lemonada;
  }

  h1 {
      margin: 50px auto 0 auto;
      font-family: "Sacramento", cursive;
      font-size: 5.625rem;
      color: #204051;
  }
  h2 {
    color: #204051;
    font-family: "Lemonada", sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    padding-bottom: 10px;
  }
  h3 {
    color: #204051;
  }

  p {
    line-height: 2;
  }

  hr {
    border: dotted #6ebfb5 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

  a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #204051;
  }

  .copyright {
    color: #84a9ac;
    font-size: .75rem;
    padding: 20px 0;
  }
  .contact-message{
    width: 40%;
    margin: 40px auto 60px;
  }
.pro-class {
  font-size: 2rem;
  font-weight: normal;
  color: #204051;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left ;
}
.giphy-embed{
  width: 25%;
  float: left;
  margin-right: 10px;
}
.computer-img{
  width: 24%;
  float: right;
  margin-left: 30px;
}
.intro{
    width: 40%;
    margin: auto;
}

.tnc{
  font-size: 5px;
}

.first-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
.second-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-container {
  background-color: #ddf3f5  ;
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}

.middle-container {
  background-color: #ffffff  ;
  margin: 100px 0;
}

.bottom-container {
  background-color: #ddf3f5  ;
  padding: 50px 0 16px;
}

.pro {
  text-decoration: underline;
}
.btn {
  background: #0f4c75;
  background-image: -webkit-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -moz-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -ms-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -o-linear-gradient(top, #0f4c75, #3282b8);
  background-image: linear-gradient(to bottom, #0f4c75, #3282b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Lemonada", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #26acff;
  background-image: -webkit-linear-gradient(top, #26acff, #096fb3);
  background-image: -moz-linear-gradient(top, #26acff, #096fb3);
  background-image: -ms-linear-gradient(top, #26acff, #096fb3);
  background-image: -o-linear-gradient(top, #26acff, #096fb3);
  background-image: linear-gradient(to bottom, #26acff, #096fb3);
  text-decoration: none;
}
